body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    color: #ff6347;
}

.dashboard {
    text-align: center;
    margin-top: 100px;
}

.dashboard h1 {
    font-size: 2.5em;
    color: #333;
}

.dashboard p {
    font-size: 1.2em;
    color: #555;
    margin: 20px 0;
    margin-bottom: 30px;
}

.button {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
}

.button:hover {
    background-color: #555;
}

.about, .types {
    text-align: center;
    margin: 50px auto;
    max-width: 1200px;
    padding: 20px;
}

.about h2, .types h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2em;
    color: #666;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: linear-gradient(135deg, #8B4513, #D2B48C); /* Gradasi dari warna kopi */
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    color: white;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.card p {
    font-size: 1.1em;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.footer a {
    color: #ff6347;
    text-decoration: none;
}
